.right{ float:right;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}
.mb30{margin-bottom: 30px;}
.ml30{margin-left: 30px;}
.text-left{text-align: left;}
.dpib{display: inline-block;}
.no-padding{padding:0px !important;}
.form-group input{text-indent: 5px;}
/*------------------------- input+valid -------------------*/
.blue{background: #3aa9ff;}
.border{border:1px solid #999999 !important;}
.white{background: #FFFFFF;}
.red{background: #fc2836;}
.font-black{color:#000000;}
.font-white{color:#ffffff;}
.w150{width:150px !important;}
select{padding:5px 0;}
.n-input{text-indent: 5px;height: 33px;background: #fbfbfb;border: none;border-radius: 5px;border: 1px solid #d5d5d5;}
.small{padding:6px 17px 6px 17px!important;}
.n-select{width:118px; font-size:14px; background: #fbfbfb; height: 35px; line-height: 35px; border-radius: 5px; border: 1px solid #d5d5d5; padding-left: 6px; color: #808080; font-weight: 400;}
.btn-big{padding:6px 34px 6px 34px; ; font-size: 16px;   border: none;  text-align: center;  border-radius: 5px; border: 1px solid transparent;cursor: pointer;}
.btn-small{padding:6px 26px 6px 26px; ; font-size: 16px;   border: none;  text-align: center;  border-radius: 5px; border: 1px solid transparent;cursor: pointer;}
.btn-table{padding: 3px 10px; border: 1px solid transparent; border-radius: 5px;cursor: pointer;}
.btn-search{padding: 5px 16px; border: 1px solid transparent; border-radius: 5px; font-size: 16px;cursor: pointer;}

/*------------------------- form 妯甯灞 ------------------------*/
.form-box{width:700px; margin-left:30px;float: left;}
.form-group{width:100%;margin-bottom:25px;}
.form-box label{float:left; line-height:35px; font-size:16px; color:#000000; width:80px; text-align:left; display: inline-block;}
.valid-wrap{margin-left:16px; font-size:14px;font-weight: 400!important; color:#ff0000;}
.form-title{height:38px;margin-bottom:20px;}
.form-title span{font-size:18px; color:#000000;font-weight:600;}
.title-img{display:inline-block; width:32px; height:26px; background:url(../images/addtitle_03.png) no-repeat;vertical-align: top;margin-right:20px;}
/*------------------------- butoon ------------------------*/

/*------------------------- table+pagination-------------------------*/
.table{background-color: #fff; width: 100%; border-collapse: collapse; border-spacing: 0;}
.table th tr{background-color: #eee; font-size: 16px; color: #010000;}
.table>thead:first-child>tr:first-child>th{border-top: 0;}
.table thead tr th{background-color: #eee; border: 1px solid #eee; border-bottom: 1px solid #dcdcdc; font-size: 16px; padding: 15px 0; text-align: center;vertical-align: bottom; font-weight: normal;}
.table>tbody{text-align: center;}
.table>tbody>tr>td{padding: 16px 10px; border: 1px solid #dcdcdc; font-size: 14px; word-wrap: break-word; word-break: break-all;}
.table>tbody>tr.even>td{background-color: #fbfbfb;}

.DTTTFooter{padding:10px 0 0 0;text-align: right;}
.pagination{vertical-align: middle;display: inline-block;	margin: 20px 0;}
.DTTTFooter .footer-tips{color:#000;padding:0 15px;font-size: 14px;}
.pagination .ellipsis{width:33px; height:33px;display: inline-block;color: #000;text-align: center;
	line-height: 24px;	background-color: #fff;	margin-left: -1px;border: 1px solid #dcdcdc; float:left}
.pagination>li,.pagination .jumoPage{display: inline-block; float:left}
.pagination .input_jump{width:45px;}
.pagination .jumoPage{width: 45px;	height: 33px; border: 1px solid #dcdcdc;text-align:center;padding:0; background-color: #f2f2f2;
	-webkit-box-shadow: none;	-moz-box-shadow: none;	box-shadow: none; margin-left: -1px;}
.pagination>li>a,.pagination>li>span {font-size: 14px;	position: relative; text-align: center; line-height: 33px;	float: left;text-decoration: none;	color: #000;
	background-color: #fff;	border: 1px solid #dcdcdc;	margin-left: -1px; padding: 0 12px; height: 33px;}
.pagination>li:first-child>a,.pagination>li:first-child>span {	margin-left: 0;}
.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {	z-index: 3;	color: #000;background-color: #eee;}
.pagination>.current>a,.pagination>.current>span,.pagination>.current>a:hover,.pagination>.current>span:hover,.pagination>.current>a:focus,.pagination>.current>span:focus {
	z-index: 2;	color: #fff;	background-color: #3aa9ff;	cursor: default}
.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus {
	color: #808080;	background-color: #f9f9f9;	cursor: not-allowed}
	
/*------------------------- layer -------------------------*/
.layui-layer{ border-radius:10px!important;/* max-width:378px!important;*/ height:auto!important;}
.layui-layer-title{ background: #fc2836; height:40px; line-height:40px; 
	border-radius: 10px 10px 0 0!important; font-size:18px!important; 
	text-align:left!important; color:#fff!important; padding-top:0!important; 
	padding-left:20px;}
.layui-layer-content{ font-size:16px!important; color:#000;}
.layui-layer-btn{background: #eee; margin:0!important; 
	border-radius: 0 0 10px 10px!important; padding:20px 20px 16px 20px; 
	overflow:hidden; text-align:right!important;}
.layui-layer-btn0,.layui-layer-btn1{ height:26px!important; line-height:26px!important;
	background:#fff!important; font-size:16px; color:#000!important; padding:0 8px!important; 
	min-width:60px!important; border:0!important; 
	border-radius:5px!important; text-align:center;}
.layui-layer-hui{padding: 5px 10px 0 10px!important; height:52px!important; line-height:52px!important;text-align:center; background:#eee!important; color:#000!important;;}

/*-------------------------wrapper-------------------*/
.wrapper{width:1360px;margin:0px auto;}
.main-body{margin-left:146px;padding:39px 0px  5px 20px;min-height:800px; 
	border-left:1px solid #ddd;}
	
/*------------------------- header -------------------*/
.header{ border-bottom:2px solid #fc2836;background:#f2f2f2;}
.loginout{color:#000;}
.header-top{margin:0 auto; width:1360px; height:88px; }
.header-top img{float:left; margin-top:25px; width:145px; height:43px;}
.header-top ul{float:left; margin-left:25px; margin-top:38px;}
.header-top ul li{float:left;padding:0 25px; line-height:50px; font-size:20px;}
.header-top ul li a{color: #000;}
.header-top ul li a.current{ color:#fc2836;font-weight:600;}
.header-top .user-action{  margin-top:38px; line-height:50px; font-size:16px;}

/*-------------------------sidebar-------------------*/
.slider{float:left; padding-top:39px; width:146px; }
.slider li{position:relative; float:right; width:145px; height:33px; 
	line-height:33px;  text-align:center;margin-bottom:20px;}
.slider li a{color:#000;font-size:18px;}
.slider li .chart{ position:absolute; top:6px; right:-1px; border-width:10px; 
	border-style:solid; border-color:transparent #fff transparent transparent;display:none;}
.slider li.current{background:#fc2836; }
.slider li.current a{color:#fff;}
.slider li.current .chart{display:block;}

/*------------------------- footer -------------------*/
footer{text-align:center;font-size:14px;color:#808080;text-align:center;padding:25px 0px 50px 0px;}

/*1.1*/
.textarea{display:block; padding: 25px 50px; width:720px; height:90px; border:1px solid #d5d5d5; background:#fbfbfb; border-radius:5px; resize:none; font-size:14px; color:#000;}

/*强制换行*/
.word-wrap{word-break:break-all; /*支持IE，chrome，FF不支持*/
	word-wrap:break-word;/*支持IE，chrome，FF*/}

